<div class="problem input-container clearfix">
  <p class="label"><%= f.label :body, "Your Concern:" %></p>
  <%= f.text_area :body, :placeholder => "ex: \"My city spends money on random things\"" %>
  <span class="counter">250 Characters remaining</span>
</div>