<div class="row">
  <div class="span6 offset3 center new-problem">
    <div id="form_header">
      <h1 class="old">What ails you</h1>
      <p id="disclaimer">* You must propose a solution.</p>
    </div>
    <div class="new-problem-container">
    <%= render :partial => 'form' %>
    </div>
  </div><!-- end content -->
</div><!-- end wrapper -->