<div id="problems" class="profile">

  <% if current_user %>
    <h4>My problems:</h4>
  <% else %>
    <h4>Things <%= @profile.first_name %> cares about:</h4>
  <% end %>

  <% @profile.problems.reverse.each do |problem| %>
    <div class="profile-problem">
      <p><%= link_to problem.body, problem %></p>
    </div>
  <% end %>

</div>