<div id="problems" class="profile">

  <% if current_user %>
    <h4>My solutions:</h4>
  <% else %>
    <h4>Things <%= @profile.first_name %> cares about:</h4>
  <% end %>

  <% @profile.solutions.reverse.each do |solution| %>
    <div class="profile-solution">
      <p><%= link_to truncate(solution.body, :length => 80), solution.problem %></p>
    </div>
  <% end %>

</div>