<div id="congresspeople" class="profile">

  <h4>My Members of Congress:</h4>

  <% @profile.congresspeople.each do |c| %>
    <div class="member">
      <p><%= "#{c.title}: #{c.first_name} #{c.last_name} (#{c.party})" %> <%= link_to "@#{c.twitter}", "http://twitter.com/#{c.twitter}", :target => "_blank" unless c.twitter.blank? %></p>
    </div>
  <% end %>

</div>
