<div class="row">
  <div class="span5 offset3">
    <div id="login" class="span5 center">
    <%= form_tag password_resets_path, :method => :post, :class => "clearfix" do %>
      <% if notice %>
      <div id="error_messages">
        <p id="error"><%= flash.now[:notice] %></p>
      </div>
      <% end %>
      <div id="form_header">
        <h2>Forgot your password?</h2>
      </div>
      <div class="input-container">
        <p class="label"><label for="email">Email:</label></p>
        <p><%= text_field_tag :email, nil, :autofocus => true, :autocomplete => 'off', :placeholder => 'What\'s your email?' %></p>
      </div>
      <div id="submit_button"><%= submit_tag 'Reset Password', :class => 'btn grey' %></div>
    <% end %>
    </div>
  </div>
</div>