<p><%= @user.profile.first_name %>,</p>
<p>Thanks for signing up!</p>
<p>If you signed up with Twitter, be sure to Tweet your solutions; and if you wish, copy one of the Presidential candidates.</p>
<p>Enjoy,</p>