<div id="page">
  <div class="index-head">
    <h1 class="issue-name"><%= @issue.name %></h1>
    <% if logged_in? %>
      <%= link_to "Add a New Problem, #{current_user.first_name}", new_problem_path, :class => 'btn-dark-blue lg-text' %>
    <% end %>
  </div>

  <div class="filter">
    <% Issue.with_problems.each do |issue| %>
      <% if @issue != issue %>
        <%= link_to issue.name, issue_path(issue), :class => "pill-light" %>
      <% end %>
    <% end %>
  </div>

  <% unless @issue.problems.empty? %>
    <div class="problem">
      <%= render :partial => "problems/problem", :collection => @issue.problems %>
    </div>
  <% end %>
</div>