<div class="container-head">
  <h2 class="issue-name"><%= @issue.name %></h2>
</div>

<div class="filter">
  <%= link_to "All Problems", problems_path, :class => "btn" %>
  <% Issue.with_problems.each do |issue| %>
    <%= link_to issue.name, issue_path(issue), :class => "btn" %>
  <% end %>
</div>

<% unless @issue.problems.empty? %>
  <div class="problem">
    <%= render :partial => "problems/problem", :collection => @issue.problems %>
  </div>
<% end %>