<div id="post_options" class="clearfix">
  <div id="issue_container" class="pull-left">
    <%= select_tag "problem[issue_ids][]", options_for_select([["", ""]]+ Issue.all.collect{ |issue| [issue.name,issue.id] } ), :class=>'chzn-select', :data => { :placeholder => "Select an Issue (Optional)" } %>
  </div>

  <div id="tweet_container" class="pull-right">
    <label class="checkbox">
      <%= check_box_tag "tweet", true %>
      <%= image_tag("twitter-logo.png") %><p>Tweet your Solution</p>
    </label>
  </div>
</div>