<div class="other-problem clearfix">
  <div class="overview">
    <h4 class="vote-count"><%= other_problem.votes %></h4>
    <span>Votes</span>
  </div>
  <div class="details">
    <p><%= link_to other_problem.body, problem_path(other_problem) %></p>
    <% if other_problem.solutions.any? %>
      <h4 class="solution-count"><%= pluralize(other_problem.solutions.count, "solution") %></h4>
    <% end %>
  </div>
</div>
