<div id="politician_container" class="pull-right">
  <%= select_tag "problem[politicians_ids][]", options_for_select([["", ""]]+ current_user.politicians.all.collect{ |pol| ["#{} #{pol.last_name} - #{pol.party}",pol.id] } ), :class=>'chzn-select', :data => { :placeholder => "Assign to a Politician (Optional)" } %>
</div>
