<div id="politician_container" class="pull-left">
  <%= select_tag "problem[politician_ids][]", options_for_select([["", ""]]+ current_user.politicians.all.collect{ |pol| ["#{pol.short_title} #{pol.first_initial} #{pol.last_name} - (#{pol.party})",pol.id] } ), :class=>'chzn-select', :data => { :placeholder => "Assign to a Politician" } %>
</div>
