<div id="tweet_container" class="pull-right">
  <label class="checkbox">
    <%= check_box_tag "tweet", true %>
    <%= image_tag("twitter-logo.png") %><p>Tweet your Solution</p>
  </label>
  <div id="candidates">
    <label class="checkbox">
      <%= check_box_tag "tweet_bo", true %>
      <p>cc @BarackObama</p>
    </label>
    <label class="checkbox">
      <%= check_box_tag "tweet_mr", true %>
      <p>cc @MittRomney</p>
    </label>
  </div>
</div>