<div class="index-head">
  <h1>What people are solving</h1>
  <% if logged_in? %>
    <%= link_to "Add a New Problem, #{current_user.first_name}", new_problem_path, :class => 'btn-dark-blue lg-text' %>
  <% end %>
</div>
<div class="filter">
  <% Issue.with_problems.each do |issue| %>
    <%= link_to issue.name, issue_path(issue), :class => "pill-light" %>
  <% end %>
</div>
<div id="page" class="problems">
<% unless @problems.empty? %>
  <div class="problem">
    <%= render @problems %>
    <%= paginate @problems %>
  </div>
<% end %>
</div>