<div id="wrapper">
  <div id="content">
    <div id="problemHead">
      <h1>What people are thinking</h1>
      <%= link_to "Add a New Problem, #{current_user.profile.first_name}", new_problem_path, :id => "indexNewProblem" %>
    </div>
    <div id="problems">
    <% @problems.each do |problem| %>
      <div class="problem">
        <%= link_to problem.body, problem %>
        <p><%= problem.user.profile.name %></p>
        <%#= problem.solution.body %>
      </div>
    <% end %>
    </div>
  </div>
</div>