<% content_for :head do %>
<% end %>
<div id="wrapper">
  <div id="content">
    <div id="welcomeHead">
      <h1 class="old">What ails you, <%= current_user.profile.first_name %>?</h1>
      <p>*Here at POP, every problem must come with a solution. We want to keep things productive!</p>
    </div>
    <div id="homeForm">
    <%= render :partial => 'problems/form' %>
    </div>
  </div><!-- end content -->
</div><!-- end wrapper -->