<p class="notification" data-id="<%= notification.id %>">New <%= notification.notification_type.capitalize %>: <%= link_to notification.body, problem_path(notification.problem_id) %>
  <%= link_to "mark read", nil, :class => "mark-read" %>
</p>