<p class="notification" data-id="<%= notification.id %>">New <%= notification.notification_type.capitalize %>: <%= link_to truncate(notification.body, :length => 80), problem_path(notification.problem_id) %>
  <% unless notification.has_been_read? %>
    <%= link_to "mark read", notification_path(notification, :read => true), :method => :put, :class => "mark-read" %>
  <% end %>
</p>