<div class="step span4">
  <div class="interior">
    <h2>Step 1: Sign Up</h3>
    <p>Sign up using your Twitter account, or create one with us. Either way works and will get you started in no time, but if you sign up with Twitter you can Tweet your problem and copy <a href="http://twitter.com/BarackObama" target="blank">@BarackObama</a> or <a href="http://twitter.com/MittRomney" target="blank">@MittRomney</a>.</p>
  </div>
</div>
<div class="step span4">
  <div class="interior">
    <h2>Step 2: Add a problem</h3>
    <p>Have an opinion on what the Government is doing? Want to complain or gripe? Or suggest a better way? Feel free. There's just one caveat: every problem must come with a solution.</p>
  </div>
</div>
<div class="step span4">
  <div class="interior">
    <h2>Step 3: Contribute</h3>
    <p>Vote up or down problems and solutions to help the problems or solutions you believe in carry more weight, and add your own solutions to problems.</p>
  </div>
</div>