<div class="step span4">
  <div class="interior">
    <h2>Step 1: Sign Up</h3>
    <p>Sign up using your Twitter account, or create one with us. Either way works and will get you started in no time.</p>
  </div>
</div>
<div class="step span4">
  <div class="interior">
    <h2>Step 2: Add a problem</h3>
    <p>Have an opinion on what the Government is doing? Want to complain or gripe? Feel free. There's just one caveat: every problem must come with a solution. Is this an idealistic approach? You bet.</p>
  </div>
</div>
<div class="step span4">
  <div class="interior">
    <h2>Step 3: Vote & Discuss</h3>
    <p>Vote up or down problems and solutions, comment on problems.</p>
  </div>
</div>