<div class="main-form">
  <div class="container">
    <%= render "signup_buttons_and_form" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= render "signup_steps" %>
  </div>
</div>