<%= content_for(:head) do %>
  <script type="text/javascript">
  $(function(){
    $('body').addClass('inaug');
    $('#wrapper').addClass('home-bg');
    $('#header').addClass('home-bg');
    $('#footer').addClass('home-bg');
  })
  </script>
<% end %>
<div id="wrapper">
  <div id="home_signup">
    <div id="welcomeHead">
      <h1 class="old">Be a part of the solution.</h1>
    </div>
    <div class="home-form-container">
    <%= render 'new_user_form' %>
    </div>
  </div><!-- end home -->
</div><!-- end wrapper -->