<%= content_for(:head) do %>
  <script type="text/javascript">
  $(function(){
    $('body').addClass('inaug');
    $('#wrapper').addClass('home-bg');
    $('#header').addClass('home-bg');
    $('#footer').addClass('home-bg');
  })
  </script>
<% end %>
<div class="row">
  <div class="threecol"></div>
  <div id="home_signup" class="sixcol">
    <div id="form_header">
      <h1 class="old">Be a part of the solution</h1>
    </div>
    <div class="form-container">
    <%= render 'new_user_form' %>
    </div>
  </div>
</div>