<div id="profile_info">
  <h3><%= @user.profile.name %></h3>
  <% unless @user.email.blank? %>
    <p class="maininfo">Email:&nbsp;<%= @user.email %></p>
  <% end %>
  <p class="delete"><%= link_to 'Delete Account', @user, :method => :delete, :confirm => 'Are you sure?' %></p>
</div>
<div id="edit_profile">
  <%= render :partial => 'profiles/edit_settings_form' %>
</div>