<div id="page" class="row">
  <div id="widget" class="span6 offset3">
    <div class="index-head">
      <h1>Get a widget for your Politican below:</h1>
    </div>
    <%= form_for @widget do |f| %>
      <%= f.label "Choose a Politician" %>
      <%= f.select :politician_id, options_for_select([["", ""]]+ Politician.all.collect{ |pol| [pol.name,pol.id] } ), :class=>'chzn-select', :data => { :placeholder => "Select a Politician" } %>
      <%= f.submit "Create", class: "btn btn-large btn-dark-blue" %>
    <% end %>
  </div>
</div>