.flash-notice {
  @include border-radius(0px 0px 8px 8px);
//  background-color: lighten(#00B4EA, 20%);
//  border: 1px solid lighten(#00B4EA, 15%);
//  color: #fff;
  background-color: #FFFEE0;
  border: 1px solid #FBEED5;
  color: #C09853;
  margin: 0 auto;
  padding: 7px 10px 5px;
  position: absolute;
  top: 35px;
  width: 1150px;
  z-index: -1;
}

.flash-alert {
  @include border-radius(0px 0px 8px 8px);
  background-color: lighten($gop-red, 30%);
  margin-left: -10px;
  border: 1px solid lighten($gop-red, 15%);
  color: darken($gop-red, 25%);
  margin: 0 auto;
  padding: 7px 10px 5px;
  position: absolute;
  top: 35px;
  width: 1150px;
  z-index: -1;
}