@import "colors";

.h-btn {
  @include border-radius(5px);
  background-color: #fff;
  border: 1px solid #FFCCD2;
  letter-spacing: 1px;

  &:hover {
    background-color: #ccc;
  }
}

#login {
  font-size: 12px;
  font-weight: 600;
  line-height: 26px;
  margin-top: 5px;
  padding: 0px 15px;

}

.btn { @include button(simple, #D9D9D9); font-size: 110%; }

.btn-light-blue-shiny { @include button(shiny, $light-blue); }
.btn-med-blue-shiny { @include button(shiny, $med-blue); }
.btn-dark-blue-shiny { @include button(shiny, $dark-blue); }
.btn-gop-red-shiny { @include button(shiny, $gop-red); }

.btn-light-blue { @include button(simple, $light-blue); }
.btn-med-blue { @include button(simple, $med-blue); }
.btn-dark-blue { @include button(simple, $dark-blue); }
.btn-gop-red { @include button(simple, $gop-red); }

.btn-grey { @include button; }

.btn-large { padding: 10px 20px; font-size: 120%; }

.lg-text { font-size: 110%; }

.btn-gop-red:hover { color: #fff; }
