@font-face {
  font-family: 'Essays 1743';
  src: url('tagesschrift.ttf');
}

@font-face {
  font-family: 'Essays1743';
  /*src: url('../fonts/UglyQua.eot');*/
  src: url('../fonts/Essays1743.ttf') format('truetype');/* Opera, Safari */
}