#{$all-text-inputs}, textarea {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 5px 0 5px 5px;
  border: 1px;
  border-style:solid;
  border-color: #8DA09C;
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
  @include border-left-radius(3px);
  @include border-right-radius(3px);
  text-shadow: none;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.20);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.20);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.20);
  &:focus {
    border-color:rgba(35,146,231,0.8);
    outline:0;
    outline:thin dotted \9;
    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6);
    -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6)
  }
}

textarea {
  height:70px;
  resize: none;
  width:99%;
}

select#user_profile_attributes_birthday_1i, select#profile_birthday_1i {
  width: 135px;
}

select#user_profile_attributes_birthday_2i, select#profile_birthday_2i {
  margin-right: 10px;
  width: 145px;
}

select#user_profile_attributes_birthday_3i, select#profile_birthday_3i {
  margin-right: 10px;
  width: 85px;
}

.input-container .counter {
  float: right;
  position:relative;
  right:0;
  top:0;
  font-size:16px;
  font-weight:400;
  color:darken(#ccc, 10%);
}

.input-container .warning { color: #ccc; }
.input-container .exceeded { color: #e00; }

/* ============================== */
/* In-line validations
/* ============================== */

#birthday_selects .field_with_errors .message { display: block; }
.field_with_errors { overflow: auto; display: inline; }
.field_with_errors .message { white-space: nowrap; display: inline-block; font-size:14px; position:absolute; background-color: black; padding: 6px 10px; color: #fff; @include border-top-radius(5px); @include border-bottom-radius(5px); @include border-left-radius(5px); @include border-right-radius(5px); margin:-38px 578px 0;
  &:after { content:""; width:0; height:0; border-top:10px solid transparent; border-bottom:10px solid transparent; border-right:10px solid black;border-left:10px solid transparent; position:absolute; left:0;margin:5px 0 0 -15px;top:0}
}

.new-api-problem .field_with_errors .message { margin: -65px 425px 0; }

.new_problem .field_with_errors .message {
  margin: -65px 578px 0;
}

/* ============================== */
/* New User
/* ============================== */

#home_signup {
  @include clearfix;
  background-color: #FAFAFA;
  padding: 30px 30px 50px;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
  margin-top: 100px;
  margin-bottom: 100px;
  top: 50px;
  opacity: .9;

  #button {
    margin-top:10px;

    input[type="submit"] {
      font-size:26px;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 12px 0;
      width:100%;
    }
  }
}

.new-problem {
  margin-top: 20px;
}

#form_header {
  position:relative;
  margin:0px 0px 10px;

  h1 {

    &#login {
      float: left;
      font-size: 30px;
      font-weight: 400;
      padding: 0;
    }
  }

  p {
    font-size:10pt;
    padding-top:20px;
    text-align:center;

    &#disclaimer {
      font-style: italic;
      margin: 0;
      padding: 5px 0 15px;
    }

    &#login {
      float: right;
      padding: 0;
      margin: 8px 0 0 0;
    }
  }
}

.form-container, .welcome-form-container {
  margin: 0 auto 30px;

  p {
    font-size:8pt;
    font-weight:600;
    margin:4px 0px;
  }
}

/* ============================== */
/* Profile Complete (from Twitter)
/* ============================== */

.welcome-form-container form.edit_profile {
  width: 100%;
}

#complete_signup {
  background-color: #FAFAFA;
  padding: 30px;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
  margin-top: 20px;
  margin-bottom: 20px;
  top: 50px;
  opacity: .9;

  #button {
    margin-top:10px;

    input[type="submit"] {
      font-size:26px;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 12px 0;
      width:100%;
    }
  }
}

/* ============================== */
/* New User & New Session
/* ============================== */

textarea#problem_solution_body {
  padding-bottom: 0;
  margin-bottom: 0;
}

#post_options {
  height: 29px;
  margin: 20px 0;

  select {
    width: 170px;
  }

  #politician_container {
    margin-left: 15px;

    select {
      width: 160px;
    }
  }
}

@-moz-document url-prefix() {
  #tweet_container {
    width: auto !important;

    label {
      img {
        margin-top: -4px !important;
      }
    }
  }
}

#tweet_container {
  margin-right: 6px;
  width: 192px;

  label.checkbox {
    &:hover {
      cursor: pointer;
    }

    img {
      @include border-top-radius(3px);
      @include border-bottom-radius(0px);
      @include border-left-radius(0px);
      @include border-right-radius(3px);
      margin-top: -2px;
      width:29px;
    }

    p {
      @include border-top-radius(0px);
      @include border-bottom-radius(3px);
      @include border-left-radius(3px);
      @include border-right-radius(0px);
      background-color: darken(#00B4EA, 2%);
      color: #fff;
      display:inline-block;
      padding: 0px 20px 0px 5px;
      line-height: 2.1;
    }
  }

  #candidates {
    margin-bottom: 0;

    p {
      @include border-top-radius(3px);
      @include border-bottom-radius(3px);
      @include border-left-radius(3px);
      @include border-right-radius(3px);
    }
  }
}

.input-container, #issue_container {
  p.label-text {
    font-size:14px;
    margin: 4px 0 2px;
    padding: 0;

    label {
      font-weight:600;
    }
  }
}

.input-container {
  input {
    margin:6px 0;
    width: 99%;
  }
  p {
    margin: 0px 0 8px;
  }
}

.input-container.name {
  float:left;
  width: 49%;
  &.last {
    margin-left:8px;
  }
}

/* ============================== */
/* New User & New Session
/* ============================== */

#submit_button {
  float: right;
}

#password_reset {
  font-size: 14px;
  font-weight: bold;
  float: left;

  a {
    text-decoration:none;
  }
}

/* ============================== */
/* New Problem
/* ============================== */

.new-problem-container {
  margin-bottom: 200px;

  textarea {
    margin: 10px 0;
  }
  #button {
    input[type="submit"] {
      font-size:30px;
      width:100%;
    }
  }
}

/* ============================== */
/* Edit Profile Settings
/* ============================== */

form.edit_profile {
  width: 50%;
}