/*----------------HEADER----------------*/

//ul[aria-labelledby="issue_list"] {
//  width: 375px;

//  li {
//    float:left;
//    width: 50%;

//    a {
//      padding: 3px 15px;
//    }
//  }
//}

ul[aria-labelledby="user_settings"] {
  margin-top: 12px;

  li.divider {
    margin: 5px 1px;
  }
}

#user_profile {

  img {
    display: inline-block;
    margin-top:-5px;
    width: 30px;
  }

  span.notifications {
    background-color: $gop-red;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    padding: 0 5px;
    position: absolute;
    right: 28px;
    top: 2px;
  }

  a {
    display: inline-block;
    padding: 10px 5px;
  }
}

a#user_settings {
  margin-top: 10px;
  padding: 0 8px;
}

ul#content_nav {
  margin-left: 80px;
}

.divider-vertical.header {
  margin: 0 15px;
}

/*----------------FOOTER----------------*/

#footer {
  border-top: 1px solid #d4d4d4;
  display: block;
  zoom: 1;
  position: relative;
  overflow: hidden;
}

#footer ul {
  padding: 4px 0px 10px;
  margin: 0;
}

#footer li {
  padding-right:4px;
  list-style-type:none;
  display:inline;
  color:#666;
  font-size:8pt;
}

#footer .main {
  float:left;
  width: auto;
}

#footer .socialnetworks {
  float:right;
  width: auto;
}

#footer ul li a {
  font-weight:bold;
  color:#666;
  padding:.3em;
}
