[class^="icon-"],[class*=" icon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .2em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url('icons-16x16-gray.png');
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: -7px;
}

.icon-civil-rights {
  background-position: -2px 0;
  width: 13px;
  height: 15px;
  margin-top: -2px;
}

.icon-defense {
  background-position: 0 -17px;
  width: 16px;
  height: 13px;
  margin-top: -1px;
}

.icon-energy-environment {
  background-position: -1px -30px;
  width: 14px;
  height: 18px;
  margin-top: -6px;
}

.icon-ethics {
  background-position: 0px -49px;
  width: 16px;
  height: 14px;
  margin-top: -2px;
}

.icon-fiscal-responsibility {
  background-position: -1px -63px;
  width: 13px;
  height: 17px;
  margin-top: -5px;
}

.icon-taxes {
  background-position: -1px -81px;
  width: 15px;
  height: 15px;
  margin-top: -3px;
}

.icon-technology {
  background-position: -3px -96px;
  width: 11px;
  height: 16px;
  margin-top: -3px;
}

.icon-disabilities, .icon-economy, .icon-education, .icon-foreign-policy,
.icon-health-care, .icon-homeland-security, .icon-immigration, .icon-rural,
.icon-seniors-social-security, .icon-service, .icon-urban-policy,
.icon-veterans, .icon-women {
  background-position: -1px -63px;
  width: 13px;
  height: 17px;
  margin-top: -5px;
}