/*-------------HOME-HEADER------------------*/

#header {
  position: relative;
  display: block;
  height: 75px;
  overflow: visible;
  @include box-shadow(0 0 2px 1px grey);
  /*background-color: rgb(227, 242, 231);*/
  margin-bottom: 10px;
}

#logo {
  top: 20px;
  position: absolute;
  overflow: hidden; /* donít let content leak beyond the header - not needed as height of anchor will cover whole header */
  padding: 0;
  width: 275px;
  height: 50px;
  left:40px;
}

#logo a {
/*  padding-top: 100px;*/
  /*background-image: url("logo.png");*/
  background-color:#E3F2E7; /*white background for now until logo designed*/
  color: #E3F2E7;
}

#logo a {
  position: absolute; /* defaults to top:0,left:0 and so these can be left out */ height: 50px; /* hiding text, prevent it peaking out */width: 275px; /* 686px; fill the parent element */
  background-position: left top;
  background-repeat: no-repeat;
}

#loginNav {
  float:right;
  margin-top: 25px;
  margin-right: 40px;
}

#loginNav a {
  font-weight:bold;
}

#loginNav li {
  list-style:none;
  font-size:9pt;
}

#findNav {
  position:absolute;
  left:350px;
  top:26px;
}

#findNav ul, #usernav ul {
  list-style: none;
  margin: 0;
  padding: 0em;
  font-size: 9pt;
  font-weight: bold;
  float: left;
  position: relative;
}

#findNav li ul {
  width:350px;
  background-color: #E3F2E7;
  border-top: 1px solid #ccc;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#usernav li {
  float:left;
  margin-right:25px;
}

#findNav li {
  float: left;
}

#findNav li ul {
  display:none;
  padding:0;
  position:absolute;
}

#usernav li ul {
  display:none;
  padding:0;
  position:absolute;
  width:134px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#findNav li a {
  display:block;
  padding:0.5em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  font-size:small;
}

#usernav li a {
  display:block;
  padding:0.5em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  margin-top:12px;
  font-size:small;
}

#findNav li a:hover {
  background-color:#ccc;
  text-decoration:none;
}

#usernav li a:hover {
  background-color:#ccc;
  text-decoration:none;
}

#findNav li:hover ul, #usernav li:hover ul {
  display:block;
  z-index:100;
}

#findNav li li {
  float: left;
  border-bottom:1px solid #ccc;
  width: 175px;
}

#usernav li li {
  float:none;
  border-bottom:1px solid #ccc;
}

#findNav li li a, #usernav li li a {
  border:0;
  border-left:1px solid #ccc;
  border-right: 1px solid #ccc;
}

#findNav li:last-child {
  margin-left: 30px;
}

#findNav li ul li:last-child {
  margin-left: 0;
}

#findNav li#userParent:hover > a {
  background-color:#CCC;
  border-color: #CCC;
  border-bottom-color: transparent;
}

#findNav li#userParent > a:hover {
  background-color:#CCC;
}

/*------usernav---------*/

#findnav li li, #usernav li li {
        width:105%;
}

#findnav li, #usernav li {
  float:left;
  margin-right:25px;
}

/*---------------USERNAV-------------------*/

#usernav {
  position:absolute;
  right:60px;
  top:26px;
}

#usernav li {
    float:left;
    margin-right:25px;
}

#usernav li#userParent {
    background-color:#E3F2E7;
}
#usernav li#userParent > a {
    border-top-right-radius:5px 5px;
    border-top-left-radius:5px 5px;
    -moz-border-top-left-radius:5px 5px;
    -moz-border-top-right-radius:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
    -webkit-border-top-right-radius:5px 5px;
    border-top:1px solid #E3F2E7;
    border-right: 1px solid #E3F2E7;
    border-left:1px solid #E3F2E7;
    border-bottom: 1px solid transparent;
}

#usernav li#userParent:hover > a {
    background-color:#CCC;
    border-color: #CCC;
    border-bottom-color: transparent;
}

#usernav li#userParent > a:hover {
    background-color:#CCC;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    border-bottom: 1px solid transparent;
    border-left:1px solid #CCC;
    -moz-border-top-left-radius:5px 5px;
    -moz-border-top-right-radius:5px 5px;
    -webkit-border-top-left-radius:5px 5px;
    -webkit-border-top-right-radius:5px 5px;
}

#usernav li#userParent:hover ul {
    padding:0px;
    z-index:350;
}

#usernav #children li:hover {
    background-color:#E2F0E0;
}

#usernav #children li:hover a {
    color:#000;
}

#usernav ul#children li:first-child {
    border-top-right-radius:5px 5px;
    -moz-border-top-right-radius:5px 5px;
    -webkit-border-top-right-radius:5px 5px;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    border-top:1px solid #B4CDFF;
    border-bottom: 1px solid transparent;
}

#usernav ul#children li:last-child {
    border-bottom-right-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
    -moz-border-bottom-left-radius:5px 5px;
    -moz-border-bottom-right-radius:5px 5px;
    -webkit-border-bottom-left-radius:5px 5px;
    -webkit-border-bottom-right-radius:5px 5px;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    border-bottom:1px solid #CCC;
    border-top:1px solid #B4CDFF;
}

#usernav ul#children li:first-child:hover {
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    border-top:1px solid #CCC;
    border-bottom: 1px solid transparent;
}

#usernav ul#children li:last-child:hover {
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    border-bottom:1px solid #CCC;
    border-top:1px solid #CCC;
}

#usernav ul#children li:first-child a:hover {
    border-top-right-radius:5px 5px;
    -moz-border-top-right-radius:5px 5px;
    -webkit-border-top-right-radius:5px 5px;
}

#usernav ul#children li:last-child a:hover {
    border-bottom-right-radius:5px 5px;
    border-bottom-left-radius:5px 5px;
    -moz-border-bottom-left-radius:5px 5px;
    -moz-border-bottom-right-radius:5px 5px;
    -webkit-border-bottom-left-radius:5px 5px;
    -webkit-border-bottom-right-radius:5px 5px;
}

#usernav li ul {
    display:none;
    position:absolute;
    width:120px;
}

#usernav li:hover ul {
    display:block;
    z-index:100;
    left: 0px;
}

#usernav li a {
    display:block;
    padding:0.5em;
}

#usernav li a:hover {
    color:#000;
}

#usernav li li {
    width:105%;
}

/*----------------FOOTER----------------*/

#footer {
  display: block;
  zoom: 1;
  position: relative;
  overflow: hidden;
  border-top: solid 2.25px rgb(78, 93, 89);
  /*background-color: rgb(227, 242, 231);*/
}

#footer ul {
  padding: 4px 15px 10px 15px;
}

#footer li {
  padding-right:4px;
  list-style-type:none;
  display:inline;
  color:#666;
  font-size:8pt;
}

#footer .main {
  float:left;
  width: auto;
  background-color: rgb(227, 242, 231);
}

#footer .socialnetworks {
  float:right;
  width: auto;
}

#footer ul li a {
  font-weight:bold;
  color:#666;
  padding:.3em;
}