@import url(http://fonts.googleapis.com/css?family=Cantora+One|Imprima);

::selection, ::moz-selection {
  background: #CEE3E8;
}

.inaug { 
  background-color: #fff;
  background: url(lincoln.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

h1.old {
  font-family:"Essays1743", "Helvetica Neue", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  font-size:50px;
  color: #1C031E;
  margin: 0;
  text-align:center;
  line-height: 65px;
}

div#login {
  margin-bottom:140px
}