@import url(http://fonts.googleapis.com/css?family=Cantora+One|Imprima);

::selection, ::moz-selection {
  background: #CEE3E8;
}

//.inaug {
//  background-color: #fff;
//  background: url(lincoln.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
//}

.main-form {
  height: 563px;
  background-color: #fff;
  background: url(lincoln.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}

h1.old {
  font-family: "Helvetica Neue", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  font-size:45px;
  font-weight: 500;
  color: #1C031E;
  margin: 0;
  text-align:center;
  line-height: 65px;
}

div#login {
  margin-bottom: 140px;
  margin-top: 20px;

}

a.btn:hover, a.btn-gop-red:hover {
  text-decoration: none;
}