/*-------home-form-container------*/

.home-form-container {
    margin: 0 auto 30px;
    width: 450px;
}

.home-form-container p {
    font-size:8pt;
    margin:4px 2px;
    font-weight:600;
}

/*-------new-problem-container------*/

.new-problem-container {
    margin: 0 auto 30px;
    width: 600px;
}

.new-problem-container p {
    font-size:8pt;
    margin:4px 2px;
    font-weight:600;
}

.new-problem-container input[type="submit"] { width: 100%; }

#welcomeHead {
    position:relative;
    padding:10px 0px 20px;
}

#welcomeHead h1, #welcomeDisclaimer h1, #welcomeHead p {
    text-align:center;
}

#welcomeHead p {
    padding-top:20px;
    font-size:10pt;
}

#issue_container { display: inline; }

/*#welcomeDisclaimer {
    position:relative;
    padding:20px 0px 50px;
}*/

.input-container {
    padding: 3px 0px 3px 0px;
    display:inline-block;
}

.select { display:inline; }

form#new_user input[type="text"], form#new_user input[type="password"] { width: 440px; }
form#new_problem input[type="text"]  { width: 590px; }

form#new_user div#button, form#new_problem div#button { margin-top: 15px; }

form#new_user div.name { display: inline-block; }

form#new_user div.name input { width: 207px; }

div.last { margin-left: 6px; }

form#new_user div#button input.button, form#new_problem div#button input.button { width: 100%; padding: 10px; border: 1px solid rgb(78, 93, 89); }

/*----------------BUTTON-----------------*/

form.new_user div#button input.home-join { 
  height:60px;
  font: 30px/100% "Essays1743", "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
}

.btn { @include button(simple, #D9D9D9); font-size: 110%; }

.btn-light-blue-shiny { @include button(shiny, $light-blue); }
.btn-med-blue-shiny { @include button(shiny, $med-blue); }
.btn-dark-blue-shiny { @include button(shiny, $dark-blue); }
.btn-gop-red-shiny { @include button(shiny, $gop-red); }

.btn-light-blue { @include button(simple, $light-blue); }
.btn-med-blue { @include button(simple, $med-blue); }
.btn-dark-blue { @include button(simple, $dark-blue); }
.btn-gop-red { @include button(simple, $gop-red); }

.btn-grey { @include button; }

.btn-large { padding: 10px 20px; font-size: 120%; }

/*-------------FORM-INPUTS---------------*/

.home-form-container input[type="text"], .home-form-container input[type="password"], #loginContainer input[type="text"], .new-problem-container input[type="text"], .new-problem-container textarea, #login input[type="text"], #settings input[type="text"] {
  font-size: 13pt;
  font-family:"Essays1743", "Helvetica Neue", Helvetica, sans-serif;
  padding: 5px;
  border: 1px;
  border-style:solid;
  border-color: #8DA09C;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: none;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.20);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.20);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.20);
}

.new-problem-container textarea {
  width: 588px;
  height: 50px;
  resize: none;
}

.home-form-container input:focus, .new-problem-container input:focus, .new-problem-container textarea:focus, .login-section input:focus, .input-container input:focus { 
  border-color:rgba(35,146,231,0.8);
  outline:0;
  outline:thin dotted \9;
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6);
  -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6);
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.075),0 0 12px rgba(82,168,236,0.6)
}

.signup label {
  cursor:pointer;
}

.signup input#profile_pic {
  border:0;
  border-radius:0px;
  -moz-box-shadow: 0px;
  -webkit-box-shadow:0px;
  box-shadow:0px;
  padding:0;
  text-shadow:0px;
}

/*---------------LOGIN----------------*/

#loginContainer {
    top:40px;
    margin:60px auto 20px;
    background: rgb(227,242, 231);
    border-radius:12px 12px;
    -webkit-border-radius:12px 12px;
    -moz-border-radius:12px 12px;
    width:500px;
    border:0px;
}

#loginContainer form {
    width:450px;
    padding:25px;
}

#login_header p, #login-section p, #loginContainer label, #forget p {
    font-size:13pt;
    font-family: "Essays1743", "Helvetica Neue", Helvetica;
    text-align:left;
    font-weight:600;
    color:#4D4D4D;
    float:left;
    clear:both;
}

p.label {
    padding:0 0px 3px 1px;
}

#loginContainer form input[type="text"], #loginContainer form input[type="password"] {
    font-size: 13pt;
    font-family:"Essays1743", "Helvetica Neue", Helvetica;
    padding: 6px 4px;
    border: 0px solid #BBDCB7;
    border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.60);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.60);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.60);
}

#login_header {
    padding:0px 0px 10px;
}

#login_header h3 {
    font-family:"Essays1743", "Helvetica Neue", "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
    font-size:32pt;
    clear:left;
    padding:15px 0 0;
}

.login-section, #loginButton {
    padding:5px 0px;
}

.login-section {
    float:left;
    width:inherit;
}

#loginContainer form p input { 
    width:440px;
}

#loginButton {
    float: right;
    padding-top:15px;
}

#loginButton input.button { padding: 10px; margin: 0; border: 1px; border-style:solid; border-color: rgb(78, 93, 89); }

#forget {
    float: left;
    padding-top:5px;
}

.alert { padding: 8px 35px 8px 14px; margin-bottom: 18px; color: #C09853; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #FCF8E3; border: 1px solid #FBEED5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

#error_messages { background-color: rgb(78, 93, 89); padding: 10px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

p#error { text-align: center; color: #fff; }

/*------------PROBLEM-----------------*/

#problem_details { margin: 10px 0 20px; }

#problem_details h1 { padding-bottom: 10px; }

#problem_solutions p { margin: 10px 0; }


/*-----------PROBLEM-INDEX------------*/

.container-head { margin: 20px 0 20px; }

#my_problems, #others_problems { margin-bottom: 30px; }

.container-head h1, #my_problems h1, #others_problems h1, #problem_solutions h1 { padding-bottom: 10px; display: inline; }

a#index_new_problem, a#new_solution { margin: 0 15px; display: inline-block; vertical-align: 3px; }

a#index_new_problem, a#new_solution {
    padding:.7em 2em;
    background-color:#ccc;
    color:#000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

a#index_new_problem:active, a#new_solution:active {
    color:#FFF;
    background-color: rgb(227, 242, 231);
}

.other-problem, .user-problem { padding: 10px 0; }

/*-----------ISSUE-PROBLEMS-----------*/

h2.issue_name { font-size: 28pt; }

.issue_problem { margin: 10px 0; }

/*---------------STORY----------------*/

textarea#story {
  color:#666;
  font-size:14px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  margin-top:15px;
  padding:10px;
  height:175px;
  width:100%;
  vertical-align:top;
  border:#999 1px solid;
  resize:0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}

textarea#story:focus{
  color:#000;
  outline:none;
  border:#35a5e5 1px solid;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/*-------------USERHOME---------------*/

#profile, #settings {
  position: relative;
  display: block;
  padding: 0px;
}

#contentLeft, #contentRight {
  position: relative;
  display: block;
  margin:0 auto;
}

#contentLeft, #contentRight {
  width:400px;
}

#contentLeft, #contentMiddle {
  margin:0 30px 0 0;
}

#contentMiddle {
  width:35px;
  float:left;
}

#contentMiddle li {
  padding:1em 0;
}

#contentLeft {
  float:left;
}

#contentRight {
  float:left;
}

#profile #left {
  width: 24%;
  float: left;
  display: block;
  padding: 30px 10px 0px;
  height:auto;
}


#profile input {
  font-size:9pt;
  padding:0.3em;
}

#profile #right {
  float: left;
  display: block;
  margin-top: 30px;
  padding-left: 30px;
  text-align: left;
  width: 67%;
  font-size:11pt;
}

.questions {
  position:relative;
}

.questionContainer ul, .questionContainer_LoggedOut ul, .settingHeader ul {
  padding:.5em;
}

.questionContainer li, .questionContainer_LoggedOut li {
  padding:2px 10px;
}

ul#questionee {
  margin:0 1em .5em 1em;
  width:200px;
}

.questions li a, .questionsLoggedOut li a {
  font-size:9pt;
}

.questions li a:hover, .questionsLoggedOut li a:hover {
  text-decoration:underline;
}

.questionContainer, .questionContainer_LoggedOut {
  position:relative;
  height:30px;
  background-color:#7FFFD4;
}

.question-list, .public_question-list {
  position:relative;
  margin:0;
  padding:.5px;
}

.question-list div, .public_question-list div {
  min-height:50px;
  width:100%;
  padding:.5px;
  border-bottom:1px solid gray;
}

.questionContainer ul#questions, .questionContainer_LoggedOut ul#questions_LoggedOut {
  float:left;
}

.questionContainer ul#settingsLinks {
  float:right;
}

.questionContainer ul#questionee {
  margin:0;
  float:right;
}

.questionContainer li a, .questionContainer_LoggedOut li a {
  font-size:10.5pt;
}

.questionContainer div, .questionContainer_LoggedOut div {
  height:70px;
}

.questionContainer li:hover, .questionContainer_LoggedOut li:hover {
  text-decoration:underline;
}

p.question {
  opacity:.5;
  margin:0.3em 0.8em;
  text-align:justify;
}

li .heading {
  padding-right:15px;
  opacity: 0.45;
  vertical-align: top;
}

#profile #right .profileMain {
  width: 625px;
  float: left;
  display: block;
  text-align: left;
  margin-bottom:15px;
  min-height:155px;
}

#profile #right .questions {
  width: 575px;
  float: left;
  display: block;
  text-align: left;
  margin:0 0 15px 15px;
  min-height:55px;
  border:1px solid gray;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

#profile #right h3, h4, a {
  display:inline;
}

#right want {
  display:none;
}

.profileMain ul li, .questionContainer ul li {
  display:inline;
}

.profileMain ul {
  padding:8px;
}

.profileMain li {
  padding:10px 5px;
}

#right a:hover want {
  display:inherit;
  opacity: 0.45;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /*IE 8 hack*/
  filter: alpha(opacity=40); /*IE 5-7 hack*/
}

/*
#right a.white:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
*/

#right form {
  padding-left:40px;
}

a.newfield {
  padding-left:10px;
  font-size:10pt;
}

#right input {
  font-weight:normal;
}

.issue-problem div, .issue-problem-solution div, .problem-show div, .problem-solution div { display: inline-block; }