.count {
  margin: 0;
}

.index-head {
  margin-top: 25px;

  h1 {
    display:inline-block;
    font-size: 30px;
    font-weight: 500;
    margin-right: 10px;
  }

  a {
    vertical-align: 3px;
  }
}

.problem-show {
  margin: 30px 0 20px 5px;
}

#problem_solutions {
  margin: 20px 75px;

  h3 {
    display:inline;
    margin-right: 10px;
  }
}

#problem_details {
  float: left;
  height: 90px;
  width: 90%;

  h1 {
    line-height: 32px;
    font-weight: 400;
  }
}

.solution-details {
  float: left;
  height: 54px;

  p {
    line-height: 50px;
  }
}

.other-problem {
  border-bottom: 1px dotted #ccc;
  padding: 15px 0;

  &:last-child {
    border-bottom: 0;
  }

  .details {
    float: left;
    margin-bottom: 0px !important;

    p {
      margin: 0;
    }
  }
}

.overview {
  float: left;
  margin-right: 15px;
  width: 35px;
}

.solution-count {

}

.vote-count {
  margin: 0 auto;
  text-align: center;
}