#profile {
  min-height: 600px;

  .profile {
    margin-top: 30px;
  }

  #info {
    margin-top: 20px;

    h3 {
      font-weight: 500;
    }
  }
}

#edit_profile {
  margin-bottom: 80px;

  #button {
    margin: 10px 0 40px 0;
  }
}

.delete {
//  margin: 100px 0;
}

span#twitter {
  font-size: 16px;
  position: absolute;
  margin: 15px 0 0 7px;
  pointer-events: none;
}

input#profile_twitter {
  padding-left: 19px;
  width: 96.5%;
}

select#profile_party_affiliation, select#profile_birthday_2i,
select#profile_birthday_1i, select#profile_birthday_3i,{
  margin-top: 5px;
}

#about {
  .info-container {
    margin: 30px 0;

    ul {
      margin-bottom: 15px;
      margin-top: 15px;

      li {
        list-style-type: none;

        h5 {
          margin-bottom: 3px;
          margin-top: 0;
        }
      }
    }
  }
}
