
/*--------------SETTINGS----------------*/

#settings #left {
  float: left;
  display: block;
  padding: 30px 10px 40px;
  height:auto;
  width: 54%;
}

#settings div {
    position:relative;
}

#profile_info {
  width: auto;
  float: left;
  margin:15px 0px 10px;
  padding: 20px;
}

#profile_problems, #edit_profile {
  float: left;
  margin:15px 0px 15px 100px;
  padding: 20px;
}

#profile_problems h1 { padding-bottom: 10px; }

#edit_profile {
    padding:10px 0px 85px;
}

.profile-problem { padding: 5px 0;}

#edit_profile form div {
    padding:5px 0px;
}

.edit_profile div.input-container label {
  font-size:10pt;
  cursor:pointer;
  font-weight: 600;
  color: #333;
  width:inherit;
  display: block;
  padding-bottom: 3px;
}

#profile_info h2 {
    padding:10px 0px;
}

p.main-info {
    font-size:10pt;
    padding:15px 0 1px;
}

p.delete a {
    font-size:8pt;
}

p.delete {
    padding:0px;
}

.headerContainer {
  position:relative;
  padding-bottom:20px;
  left:5px;
}

.settingHeader li {
  font-size:11pt;
}

#settings #right {
  width: 34%;
  float: left;
  display: block;
  padding: 30px 10px 0px;
  height:auto;
}

#settings .userSnapshot {
  min-height:120px;
  position:relative;
  width:100px;
  margin:0 5px 0px;
}

.infoBlock {
  float:left;
  width:100%;
  padding:10px 0;
  display:block;
  position:relative;
}

.setting-list div {
  width:100%;
  padding:.5px;
  border-bottom:1px solid gray;
}

.mainSettingsInfo {
  position:relative;
  left:30px;
  padding-bottom:10px;
}

.mainSettingsDelete {
  position:relative;
  left:30px;
  top:30px;
}

#settings #left .profileMain {
  width: 625px;
  float: left;
  display: block;
  text-align: left;
  margin-bottom:15px;
  min-height:155px;
}

.settingLeftContainer {
  width: 475px;
  float: left;
  display: block;
  text-align: left;
  margin:0 0 15px 5px;
  min-height:55px;
  border:1px solid gray;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

.settingRightContainer {
  width: 100%;
  float: left;
  display: block;
  text-align: left;
  margin:0 0 15px 5px;
  min-height:55px;
  border:1px solid gray;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

.settingHeader {
  position:relative;
  height:30px;
  background-color: rgb(227, 242, 231); 
}

.settingHeader h4 {
  padding:.3em;
}

.public_question-list {
  position:relative;
  margin:0;
  padding:.5px;
}

.public_question-list div {
  width:100%;
  border-bottom:1px solid gray;
}

#profile #left h3, h4, a {
  display:inline;
}

.profileMain ul li, .questionContainer ul li {
  display:inline;
}

.profileMain ul {
  padding:8px;
}

.profileMain li {
  padding:10px 5px;
}

p.setting {
  opacity:.5;
  text-align:left;
  font-size:11pt;
  margin:0 .8em 1em .8em;
}

li.setting {
  float:left;
  opacity:.5;
  text-align:left;
  font-size:11pt;
  margin:0 .8em 1em .8em;
  width:100px;
}

li.settingEdit {
  opacity:.5;
  float:right;
  padding-right:10px;
  font-size:11pt;
}

.settingType {
  position:relative;
}

.settingInfo {
  position:relative;
}

ul.settings {
  font-size:10pt;
  margin:0px 0 20px 45px;
  opacity:.8;
  clear:both;
}

ul.accountSettings {
  font-size:10pt;
  margin:0px 0 0px 45px;
  opacity:.8;
  clear:both;
}

ul.settings li, ul.accountSettings li {
  padding:.3em 0;
}