.step {
  height: 190px;
  margin-top:10px;
  margin-bottom:10px;

  h2 {
    color: lighten(#333, 35%);
    font-family: "adelle","Helvetica Neue", serif;
    font-style: normal;
    font-weight: 700;
  }

  p {
    color: lighten(#333, 20%);
  }
}

.interior {
  padding: 10px 20px;

  p {
    margin-top: 10px;
    font-family: "ff-meta-serif-web-pro","Helvetica Neue", serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
  }
}

#actions {
  height: auto;
  margin-left: 80px;

  span {
    font-family: "georgia";
    font-style: italic;
  }

  #email_signup {
    margin-left: 5px;
  }

  #twitter_oauth {
    @include border-radius(3px);
    background-color: darken(#00B4EA, 2%);
    color: #fff;
    padding: 10px 10px 10px 0;
    margin-right: 5px;

    &:hover {
      background-color: lighten(#00B4EA, 10%);
      text-decoration: none;
    }

    p {
      display: inline;
      font-size: 110%;
      font-weight: bold;
      margin-left: 5px;
    }

    img {
      @include border-radius(3px 0px 0px 3px);
      height: 34px;
      margin-top:-4px;
    }
  }
}