.step {
  background-color: #FAFAFA;
  height: 200px;
  margin-top:10px;
  margin-bottom:10px;
  @include border-radius(5px);
  opacity: .9;
}

.interior {
  padding: 20px;

  p {
    margin-top: 10px;
    font-size: 110%;
  }
}

#actions {
  height: auto;
  margin-left: 80px;

  #email_signup {
    margin-left: 5px;
  }

  #twitter_oauth {
    @include border-radius(3px);
    background-color: darken(#00B4EA, 2%);
    color: #fff;
    padding: 10px 10px 10px 0;
    margin-right: 5px;

    &:hover {
      background-color: lighten(#00B4EA, 10%);
      text-decoration: none;
    }

    p {
      display: inline;
      font-size: 110%;
      font-weight: bold;
      margin-left: 5px;
    }

    img {
      @include border-radius(5px);
      height: 34px;
      margin-top:-4px;
    }
  }
}