.step {
  background-color: #FAFAFA;
  height: 200px;
  margin-top:10px;
  margin-bottom:10px;
  @include border-radius(5px);
  opacity: .9;
}

.interior {
  padding: 20px;

  p {
    margin-top: 10px;
    font-size: 110%;
  }
}

#actions {
  height: 355px;
}