.big {
  float: left;
  width: 50px;
  margin-right: 20px;

  h1 {
    text-align: center;
    margin: 0;
  }
}

.small {
  float: left;
  width: 20px;
  margin-right: 10px;

  h4 {
    text-align: center;
    margin: 0;
  }
}