<div id="page">
  <div class="index-head">
    <h3 class="politician-name"><%= "Concerns of #{@politician.short_title}. #{@politician.name}'s Constituents" %></h3>
    <% if logged_in? %>
      <%= link_to "Add a New Problem, #{current_user.first_name}", new_problem_path, :class => 'nice-button lg-text' %>
    <% else %>
    <% end %>
  </div>

  <% unless @politician.problems.empty? %>
    <div class="problem">
      <%= render :partial => "problems/problem", :collection => @politician.problems %>
    </div>
  <% end %>
</div>