<%= form_for @problem.solutions.new, :validate => true do |f| %>
  <%= f.hidden_field :problem_id, :value => @problem.id %>
  <div class="add-solution input-container clearfix">
    <%= f.text_area :body, :placeholder => "Enter your solution" %>
  </div>
  <div id="button">
    <%= f.submit 'Add', :class => 'btn-gop-red lg-text' %>
  </div>
<% end %>