<%= form_for([@problem, @problem.responses.new]) do |f| %>
  <div class="field">
    <%= f.text_area :body, :placeholder => "Body" %>
  </div>
  <div id="button">
    <%= f.submit 'Submit' %>
  </div>
<% end %>