<%= form_for @problem.solutions.new, :validate => true do |f| %>
  <%= f.hidden_field :problem_id, :value => @problem.id %>
  <div class="field">
    <%= f.text_field :body, :placeholder => "Body" %>
  </div>
  <div id="button">
    <%= f.submit 'Submit' %>
  </div>
<% end %>