<div id="page">
  <div class="info-container">
    <h3>About</h3>
    <p>This project came about after listening to a lot of people's frustrations with the Government. Generally, these frustrations were from people who:
      <ul>
        <li>Were upset with what the Government was doing; or</li>
        <li>Just wanted the Government to change slightly to make their lives a bit better</li>
      </ul>
    <p>So that's why this project was created: To have people provide solutions to the things that bother or affect them.</p>
  </div>

  <div class="info-container">
    <h3>Support</h3>
    <p>If you encounter an issue, please let me know. Below are the best ways to do so at the moment:
    <ul>
      <li>
        <h5>Developers:</h5>
        <p>Feel free to add an issue on the <a href="http://github.com/travisvalentine/POP" target="blank">GitHub repo</a>.</p>
      </li>
      <li>
        <h5>Non-developers:</h5>
        <p>Hit me up on <a href="http://twitter.com/travisvalentine" target="blank">Twitter</a>. Let me know what went wrong and I'll try to get to it as soon as I can.</p>
      </li>
    </ul>
    <p>General comments and feedback can also be posted to <a href="http://twitter.com/travisvalentine" target="blank">Twitter</a>.
  </div>

  <div class="info-container">
    <h3>Thanks</h3>
    <p>This project wouldn't have been completed without the help and advice from the following people:</p>
    <ul>
      <li>
        <a href="http://twitter.com/ginacooper" target="blank">@ginacooper</a>,
        <a href="http://twitter.com/marycutrali" target="blank">@marycutrali</a>,
        <a href="http://twitter.com/marktabler" target="blank">@marktabler</a>,
        <a href="http://twitter.com/bdohmen" target="blank">@bdohmen</a>,
        <a href="http://twitter.com/coreycallahan" target="blank">@coreycallahan</a>,
        <a href="http://twitter.com/jybyron" target="blank">@jybyron</a>,
        <a href="http://twitter.com/Bmore_Blonde" target="blank">@Bmore_Blonde</a>,
        <a href="http://twitter.com/Houghton_Kate" target="blank">@Houghton_Kate</a>,
        <a href="http://twitter.com/daveyo33" target="blank">@daveyo33</a>,
        <a href="http://twitter.com/bonniebons" target="blank">@bonniebons</a>,
        <a href="http://twitter.com/rustychicken" target="blank">@rustychicken</a>,
        <a href="http://twitter.com/worace" target="blank">@worace</a>,
        <a href="http://twitter.com/wengzilla" target="blank">@wengzilla</a>,
        <a href="http://twitter.com/austenito" target="blank">@austenito</a>,
        <a href="http://twitter.com/lauradhahn" target="blank">@lauradhahn</a>,
        <a href="http://twitter.com/willharding" target="blank">@willharding</a>,
        <a href="http://twitter.com/melanieeeg" target="blank">@melanieeeg</a>,
        <a href="http://twitter.com/athal7" target="blank">@athal7</a>,
        <a href="http://twitter.com/comaddox" target="blank">@comaddox</a>,
        <a href="http://twitter.com/nisargshah100" target="blank">@nisargshah100</a>,
        <a href="http://twitter.com/willewallace" target="blank">@willewallace</a>
      </li>
    </ul>
    <p>
      And of course <a href="http://twitter.com/livingsocial" target="blank">@livingsocial</a>, <a href="http://twitter.com/HungryAcademy" target="blank">@HungryAcademy</a>, <a href="http://twitter.com/jumpstartlab" target="blank">@jumpstartlab</a>, <a href="http://twitter.com/chadfowler" target="blank">@chadfowler</a>, <a href="http://twitter.com/j3" target="blank">@j3</a>, <a href="http://twitter.com/rails" target="blank">@rails</a>, <a href="http://twitter.com/gem" target="blank">@gem</a>, and <a href="http://twitter.com/SunFoundation" target="blank">@SunFoundation</a>.
    </p>
    <p>
      oursolution.is is <a href="http://proudlymadeindc.com" title="Proudly Made in DC" target="_blank">Proudly Made in DC</a>.
    </p>
  </div>

</div>