<div id="footer">
  <div class="container">
    <ul class="main">
      <li>&copy;</li>
      <li><%= Date.today.year %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Code", "http://github.com/travisvalentine/POP", target: "_blank" %></li>
      <li><%= link_to "Create a Widget", new_widget_path %></li>
    </ul>
  </div>
</div>