<div id="footer">
  <ul class="main">
  <li>&copy;</li>
    <li><%= Date.today.year %></li>
    <!-- ><li>|</li>
    <li><%#= link_to 'About', about_path,  :title => "Find out who we are and why we do what we do." %></li>
    <li><a href="#" title="Read our blog.">Blog</a></li>
    <li><%#= link_to 'Contact', contact_path,  :title => "Reach out to us!" %></li>
    <li><%#= link_to 'Privacy', privacy_path , :title => "Learn more about your privacy." %></li>
    <li><%#= link_to 'Terms', terms_path, :title => "Review our terms of service." %></li>< -->
  </ul>

  <ul class="socialnetworks">
    <!-- <li><a href="#" title="Follow us on Twitter!">@POP</a></li> -->
    <!-- <li><a href="#" title="Like us on Facebook.">Facebook</a></li> -->
  </ul>
</div><!-- end footer -->
