<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "oursolution.is", root_path, :class => "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if request.path == "/login" %>
          <li><%= link_to "JOIN", {:controller =>"users", :action => "new"}, {:id => 'login', :class => 'h-btn'} %></li>
        <% else %>
          <li><%= link_to "JOIN", {:controller =>"users", :action => "new"}, {:id => 'join', :class => 'h-btn btn-light-blue'} %></li>
          <li class="divider"></li>
          <li><%= link_to "SIGN IN", {:controller =>"sessions", :action => "new"}, {:id => 'login', :class => 'h-btn'} %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>