<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "oursolution.is", "#", :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><%= link_to "JOIN", "#", {:id => 'login', :class => 'h-btn join'} %></li>
        </ul>
      </div>
    </div>
  </div>
</div>